h1 {
    padding-left: 8px;
    border-left: 3px solid var(--h3-color);
}

h1, h2 {
    margin-block-start: 1.5em;
}
h3, h4, h5 {
    margin-block-start: 2em;
}

/* Switch headings appearance so they make more sense in order they tend to appear */
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 21px;
    font-weight: bold;
    color: var(--h4-color);
}
h4 {
    font-size: 18px;
    border-bottom: none;
    font-weight: bold;
    color: var(--h3-color);
}
h5 {
    font-weight: bold;
    color: var(--h3-color);
}

/* Kill the silly huge margins between headers, if one is after another */
h1 + h2, h1 + h3, h2 + h2, h2 + h3 {
    margin-block-start: 1em;
}

/* Fix numbered lists */
li {
    display: list-item;
}
article ul {
    list-style-type: unset;
}


/* Add tabs list support */
.tabGroup {
    margin-top: 1.5rem;
}

    .tabGroup ul[role="tablist"] {
        list-style: none;
        margin-bottom: 0;
    }

        .tabGroup ul[role="tablist"] > li {
            list-style: none;
            display: inline-block;
        }

    .tabGroup a[role="tab"] {
        padding: 5px 15px 0px;
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        color: white;
        border-bottom: 2px solid white;
    }
        .tabGroup a[role="tab"][aria-selected="true"], .tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
            color: #81D4FA;
            border-bottom: 2px solid #81D4FA;
        }

    .tabGroup section[role="tabpanel"] {
        border: 1px solid #607D8B;
        border-left: none;
        border-right: none;
        overflow: hidden;
    }

/* Reduce footer font size */
.footer {
    font-size: 12px;
}

/* Remove empty breadcrumb on index page */
#breadcrumb:empty {
    display: none;
}

/* pad at bottom a bit, to move bottom text a little up */
div.hide-when-search[role="main"] {
    padding-bottom: 25px;
}

/* Make title look like an actual title */
.brand:hover {
    text-decoration: underline solid white;
}
.brand .brand-title {
    font-size: 22px;
    font-weight: bold;
}